.div1 {
  width: 128px;
  height: 128px;
}

.div1 .image {
  width: 128px;
  height: 128px;
}

.div1 .image {
  background-image: url('./image1.png');
}

.div2 {
  width: 64px;
  height: 64px;
}

.div2 .image {
  width: 64px;
  height: 64px;
  background-image: url('./image2.png');
}

.icon3 {
  width: 16px;
  height: 16px;
  background-image: url('./image3.png');
}

.icon4 {
  width: 64px;
  height: 64px;
  background: url('./image4.png');
  background-repeat: no-repeat;
}

.icon5 {
  width: 64px;
  height: 64px;
  background: url('./image5.png') no-repeat;
}
